@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-20px);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(20px);
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(2000px);
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(-2000px);
	}
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(2000px);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		transform: translateY(30px);
	}

	80% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	60% {
		opacity: 1;
		transform: translateY(-30px);
	}

	80% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		transform: translateX(-30px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		transform: translateX(30px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes bounceOut {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(.95);
	}

	50% {
		opacity: 1;
		transform: scale(1.1);
	}

	100% {
		opacity: 0;
		transform: scale(.3);
	}	
}

@keyframes bounceOutUp {
	0% {
		transform: translateY(0);
	}

	20% {
		opacity: 1;
		transform: translateY(20px);
	}

	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

@keyframes bounceOutDown {
	0% {
		transform: translateY(0);
	}

	20% {
		opacity: 1;
		transform: translateY(-20px);
	}

	100% {
		opacity: 0;
		transform: translateY(2000px);
	}
}

@keyframes bounceOutLeft {
	0% {
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		transform: translateX(20px);
	}

	100% {
		opacity: 0;
		transform: translateX(-2000px);
	}
}

@keyframes bounceOutRight {
	0% {
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		transform: translateX(-20px);
	}

	100% {
		opacity: 0;
		transform: translateX(2000px);
	}
}

@keyframes flash {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	50% {
		transform: translateY(0);
	}

	60% {
		transform: translateY(-15px);
	}

	80% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(-10px);
	}

	20% {
		transform: translateX(10px);
	}

	30% {
		transform: translateX(-10px);
	}

	40% {
		transform: translateX(10px);
	}

	50% {
		transform: translateX(-10px);
	}

	60% {
		transform: translateX(10px);
	}

	70% {
		transform: translateX(-10px);
	}

	80% {
		transform: translateX(10px);
	}

	90% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes rotateInDownLeft {
	0% {
		transform-origin: left bottom;
		transform: rotate(-90deg);
		opacity: 0;
	}

	100% {
		transform-origin: left bottom;
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInUpLeft {
	0% {
		transform-origin: left bottom;
		transform: rotate(90deg);
		opacity: 0;
	}

	100% {
		transform-origin: left bottom;
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInUpRight {
	0% {
		transform-origin: right bottom;
		transform: rotate(-90deg);
		opacity: 0;
	}

	100% {
		transform-origin: right bottom;
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateInDownRight {
	0% {
		transform-origin: right bottom;
		transform: rotate(90deg);
		opacity: 0;
	}

	100% {
		transform-origin: right bottom;
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateOutDownLeft {
	0% {
		transform-origin: left bottom;
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		transform-origin: left bottom;
		transform: rotate(90deg);
		opacity: 0;
	}
}

@keyframes rotateOutUpLeft {
	0% {
		transform-origin: left bottom;
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		transform-origin: left bottom;
		transform: rotate(-90deg);
		opacity: 0;
	}
}

@keyframes rotateOutDownRight {
	0% {
		transform-origin: right bottom;
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		transform-origin: right bottom;
		transform: rotate(-90deg);
		opacity: 0;
	}
}

@keyframes rotateOutUpRight {
	0% {
		transform-origin: right bottom;
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		transform-origin: right bottom;
		transform: rotate(90deg);
		opacity: 0;
	}
}

@keyframes rotateIn {
	0% {
		transform-origin: center center;
		transform: rotate(-200deg);
		opacity: 0;
	}

	100% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes rotateOut {
	0% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1;
	}

	100% {
		transform-origin: center center;
		transform: rotate(200deg);
		opacity: 0;
	}
}

@mixin animate-mode {
        animation-duration: 1s;
        animation-delay: .2s;
        animation-timing-function: ease;
        animation-fill-mode: both;

        backface-visibility: hidden;
}

@mixin animate-flash { animation-name: flash; }
@mixin animate-fadeIn { animation-name: fadeIn; }
@mixin animate-fadeInUp { animation-name: fadeInUp; }
@mixin animate-fadeInDown { animation-name: fadeInDown; }
@mixin animate-fadeInLeft { animation-name: fadeInLeft; }
@mixin animate-fadeInRight { animation-name: fadeInRight; }
@mixin animate-fadeOut { animation-name: fadeOut; }
@mixin animate-fadeOutUp { animation-name: fadeOutUp; }
@mixin animate-fadeOutDown { animation-name: fadeOutDown; }
@mixin animate-fadeOutLeft { animation-name: fadeOutLeft; }
@mixin animate-fadeOutRight { animation-name: fadeOutRight; }
@mixin animate-fadeInUpBig { animation-name: fadeInUpBig; }
@mixin animate-fadeInDownBig { animation-name: fadeInDownBig; }
@mixin animate-fadeInLeftBig { animation-name: fadeInLeftBig; }
@mixin animate-fadeInRightBig { animation-name: fadeInRightBig; }
@mixin animate-fadeOutUpBig { animation-name: fadeOutUpBig; }
@mixin animate-fadeOutDownBig { animation-name: fadeOutDownBig; }
@mixin animate-fadeOutLeftBig { animation-name: fadeOutLeftBig; }
@mixin animate-fadeOutRightBig { animation-name: fadeOutRightBig; }
@mixin animate-bounceIn { animation-name: bounceIn; }
@mixin animate-bounceInDown { animation-name: bounceInDown; }
@mixin animate-bounceInUp { animation-name: bounceInUp; }
@mixin animate-bounceInLeft { animation-name: bounceInLeft; }
@mixin animate-bounceInRight { animation-name: bounceInRight; }
@mixin animate-bounceOut { animation-name: bounceOut; }
@mixin animate-bounceOutUp { animation-name: bounceOutUp; }
@mixin animate-bounceOutDown { animation-name: bounceOutDown; }
@mixin animate-bounceOutLeft { animation-name: bounceOutLeft; }
@mixin animate-bounceOutRight { animation-name: bounceOutRight; }
@mixin animate-bounce { animation-name: bounce; }
@mixin animate-shake { animation-name: shake; }
@mixin animate-rotateInDownLeft { animation-name: rotateInDownLeft; }
@mixin animate-rotateInDownRight { animation-name: rotateInDownRight; }
@mixin animate-rotateInUpLeft { animation-name: rotateInUpLeft; }
@mixin animate-rotateInUpRight { animation-name: rotateInUpRight; }
@mixin animate-rotateOutDownLeft { animation-name: rotateOutDownLeft; }
@mixin animate-rotateOutDownRight { animation-name: rotateOutDownRight; }
@mixin animate-rotateOutUpLeft { animation-name: rotateOutUpLeft; }
@mixin animate-rotateOutUpRight { animation-name: rotateOutUpRight; }
@mixin animate-rotateIn { animation-name: rotateIn; }
@mixin animate-rotateOut { animation-name: rotateOut; }
@mixin animate-rotate { transform: rotate(360deg); transition: 1s transform; }
